body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap;
    margin: 0px;
    background-color: rgb(36, 36, 36);
}

#banner{
    height: 20vh;
    width: 100vw;
}

main{
    width: 70vw;
    display: flex;
}
aside{
    width: 15vw;
}

#maszyna{
    background-color: #790000;
    height: 80vh;
    width: calc(80vh * 1.2);
    border-top-left-radius: 20vh;
    border-top-right-radius: 20vh;
}
#ekran{
    background-color: whitesmoke;
    width: calc(80vh);
    height: 60vh;
    margin: calc(80vh * 0.1);
    margin-top: 15vh;
    border-radius: 5%;
}
#dzwignia{
    width: 10vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#gambling{
    width: 7.5vw;
    height: calc(7.5vw);
    background-color: red;
    border-radius: 10%;
    padding: 0px;
}
#raczka{
    width: 2.5vw;
    height: 50vh;
    background-color: burlywood;
}

#block{
    width: 7.5vw;
    margin-right: 2.5vw;
    height: 4vw;
    float: left;
    background-color: gray;
}
#start{
    border: 0px;
    width: 7.5vw;
    height: calc(7.5vw);
    background-color: red;
    border-radius: 10%;
}

@keyframes pullLever {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(60deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

#dzwignia.animate {
    animation: pullLever 2s ease-in-out;
    transform-origin: center bottom; /* Oś obrotu w środku block */
}
